<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <!-- <p>We sale fresh</p> -->

        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->
<div class="product-section back_colour">
  <div class="container ">


    <div class="row">
      <div class="col-lg-12">

        <div class="search-bar">
          <div class="search-bar-tablecell">

            <input type="text" [(ngModel)]="searchTxt" (ngModelChange)="search(searchTxt)" placeholder="Search Here">

          </div>
        </div>
      </div>
    </div>


    <!-- <div _ngcontent-gnl-c66="" class="row"><div _ngcontent-gnl-c66="" class="col-lg-8 offset-lg-2 text-center"><div _ngcontent-gnl-c66="" class="section-title"></div></div></div> -->
    <div class="row">
      <!-- <h2>Pure CSS Tabs</h2> -->
      <div class="warpper">
        <input class="radio" id="one" name="group" type="radio" checked>
        <input class="radio" id="two" name="group" type="radio">
        <input class="radio" id="three" name="group" type="radio">

        <div class="tabs">
          <label class="tab" id="one-tab" for="one"(click)="taproom()" >TAPROOM</label>
          <label class="tab" id="two-tab" for="two" (click)="product()" >PRODUCT</label>

        </div>

        <div class="panels ">
          <div class="panel" id="one-panel">
            <div class="product-section  ">
              <div class="container">

                <div class="row">
                  <div (click)="onhotel(item)" class="col-lg-4 col-md-6 col-6 col-6 text-center"
                    style="cursor: pointer;" *ngFor="let item of HotelList">
                    <div class="single-product-item">
                      <div class="product-image">
                        <a href="JavaScript:void(0);">
                          <img src={{imgUrl}}{{item.hotel_image}} alt=""></a>
                      </div>
                      <h3>{{item.hotel_name}}</h3>
                      <p class="product-price car_dec"><span>{{item.address}}</span> </p>
                      <a class="cart-btn">Continue</a>
                      <!-- <i class="fas fa-shopping-cart"></i>  -->
                    </div>
                  </div>
                  <!-- <div routerLink="/product-components" class="col-lg-4 col-md-6 col-6 col-6 text-center" style="cursor: pointer;"  >
                        <div class="single-product-item" >
                            <div class="product-image">
                                <a href="JavaScript:void(0);">
                                    <img src="../../../assets/img/dfdfgdfg.jpg" alt=""></a>
                            </div>
                            <h3>sgfsfgs</h3>
                            <p class="product-price car_dec"><span>Thane Station Road, Jambli Naka, Thane West, Thane, Maharashtra, India</span>  </p>
                            <a  class="cart-btn">Continue</a>
                           
                        </div>
                    </div> -->
                  <!-- <div routerLink="/product-components" class="col-lg-4 col-md-6 col-6 col-6 text-center" style="cursor: pointer;"  >
                        <div class="single-product-item" >
                            <div class="product-image">
                                <a href="JavaScript:void(0);">
                                    <img src="../../../assets/img/dfdfgdfg.jpg" alt=""></a>
                            </div>
                            <h3>sgfsfgs</h3>
                            <p class="product-price car_dec"><span>Thane Station Road, Jambli Naka, Thane West, Thane, Maharashtra, India</span>  </p>
                            <a  class="cart-btn">Continue</a>
                           
                        </div>
                    </div> -->

                </div>
                <!-- <div class="row">
                  <div class="col-lg-12 text-center">
                    <div class="pagination-wrap">
                      <ul>
                        <li><a href="#">Prev</a></li>
                        <li><a class="active" href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">Next</a></li>
                      </ul>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>

          </div>
          <div class="panel " id="two-panel">
            <div class="product-section product-section1 " *ngFor="let item of ProductList">
              <!-- single product -->
              <div class="single-product mt-150 mb-150">
                <div class="container">
                  <div class="row">

                    <div class="col-md-4 d_flex">
                      <div class="single-product-img new_product">
                        <img src={{imgUrl}}{{item.hotel_image}} alt="">
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="single-product-content">
                        <h3>{{item.hotel_name}}</h3>

                        <p>{{item.address}}</p>
                        <ngb-rating [max]="5" [(rate)]="item.rating" [readonly]="true"></ngb-rating>
                        <!-- <div class="star-rating">
                          <input type="radio" id="5-stars" name="rating" value="5" />
                          <label for="5-stars" class="star">&#9733;</label>
                          <input type="radio" id="4-stars" name="rating" value="4" />
                          <label for="4-stars" class="star">&#9733;</label>
                          <input type="radio" id="3-stars" name="rating" value="3" />
                          <label for="3-stars" class="star">&#9733;</label>
                          <input type="radio" id="2-stars" name="rating" value="2" />
                          <label for="2-stars" class="star">&#9733;</label>
                          <input type="radio" id="1-star" name="rating" value="1" />
                          <label for="1-star" class="star">&#9733;</label>
                        </div> -->

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end single product -->

              <!-- more products -->
              <div class="more-products ">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-8 offset-lg-2 text-center">
                      <div class="section-title">
                        <h3> Products</h3>

                      </div>
                    </div>
                  </div>
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-3 col-md-6 text-center" *ngFor="let i of item.product">
                        <div class="single-product-item m-t" (click)="details(i)" style="  padding-bottom: 1px !important;cursor:pointer">
                          <div class="product-image">
                            <a><img class="img2" src={{imgUrl}}{{i.product_image}}
                                alt=""></a>
                          </div>
                          <h3>{{i.product_name}}</h3>

                          <ul>
                            <li class="colour_s">{{getPrice(i)}} ₹{{price}}&nbsp;<span style="text-decoration: line-through;">₹{{i.price}}</span>
                            </li>
                            <li class="colour_s"><b>Save Upto: <span style="color: green;">₹{{savePrice}}({{i.discount}}% Off)</span></b></li>

                          </ul>
                        </div>
                      </div>

                      <!-- <div class="col-lg-3 col-md-6 text-center">
            <div class="single-product-item m-t" style="  padding-bottom: 1px !important;">
              <div class="product-image">
                <a href="single-product.html"><img class="img2" src="assets/img/products/product-img-2.jpg" alt=""></a>
              </div>
              <h3>Berry</h3>
              <ul>
                <li  class="colour_s">₹190.0 &nbsp;<span style="text-decoration: line-through;">₹200</span></li>
                <li class="colour_s"><b>Save Upto: <span style="color: green;">₹10.0(5% Off)</span></b></li>
                
              </ul>
              
            </div>
          </div> -->

                      <!-- <div class="col-lg-3 col-md-6 offset-lg-0 offset-md-3 text-center">
                        <div class="single-product-item m-t" style="  padding-bottom: 1px !important;">
                          <div class="product-image">
                            <a href="single-product.html"><img class="img2" src="assets/img/products/product-img-3.jpg"
                                alt=""></a>
                          </div>
                          <h3>Lemon</h3>
                          <ul>
                            <li class="colour_s">₹190.0 &nbsp;<span style="text-decoration: line-through;">₹200</span>
                            </li>
                            <li class="colour_s"><b>Save Upto: <span style="color: green;">₹10.0(5% Off)</span></b></li>

                          </ul>

                        </div>

                      </div> --> -->
                      <!-- <div class="col-lg-3 col-md-6 text-center">
                        <div class="single-product-item m-t" style="  padding-bottom: 1px !important;">
                          <div class="product-image">
                            <a href="single-product.html"><img class="img2" src="assets/img/products/product-img-1.jpg"
                                alt=""></a>
                          </div>
                          <h3>Strawberry</h3>
                          <ul>
                            <li class="colour_s">₹190.0 &nbsp;<span style="text-decoration: line-through;">₹200</span>
                            </li>
                            <li class="colour_s"><b>Save Upto: <span style="color: green;">₹10.0(5% Off)</span></b></li>

                          </ul>

                        </div>
                      </div> -->

                      <!-- <div class="col-lg-3 col-md-6 text-center">
            <div class="single-product-item">
              <div class="product-image">
                <a href="single-product.html"><img class="img2" src="assets/img/products/product-img-2.jpg" alt=""></a>
              </div>
              <h3>Berry</h3>
              <p class="product-price"><span>Per Kg</span> 70$ </p>
              
            </div>
          </div>
          <div class="col-lg-3 col-md-6 offset-lg-0 offset-md-3 text-center">
            <div class="single-product-item">
              <div class="product-image">
                <a href="single-product.html"><img class="img2" src="assets/img/products/product-img-3.jpg" alt=""></a>
              </div>
              <h3>Lemon</h3>
              <p class="product-price"><span>Per Kg</span> 35$ </p>
              
            </div>
          </div> -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- end more products -->
            </div>


          </div>

        </div>
      </div>
    </div>
  </div>
</div>