
  
  h2 {
	color: #000;
	text-align: center;
	font-size: 2em;
	margin: 20px 0;
  }
  
  .warpper {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .tab {
	cursor: pointer;
    
  
    font-weight: 700;
    font-size: 17px;
	background-color: #191919;
   
    display: inline-block;
    color: rgb(255, 255, 255);
	border: 2px solid #d6a354;
    box-shadow: 0 0.5rem 0.8rem #00000080;
	padding: 1px 13px;
    margin: 15px;
    border-radius: 25px
  }
  
  .panels {
	/* background: #fff; */
	box-shadow: 0 0rem 1rem #00000080;
	min-height: 200px;
	width: 100%;
	max-width: 100%;
	border-radius: 3px;
	overflow: hidden;
	padding: 20px;
	margin: 20px 0;
  }
  
  .panel {
	display: none;
	animation: fadein 0.8s;
  }
  
  @keyframes fadein {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }
  
  .panel-title {
	font-size: 1.5em;
	font-weight: bold;
  }
  
  .radio {
	display: none;
  }
  
  #one:checked ~ .panels #one-panel,
  #two:checked ~ .panels #two-panel,
  #three:checked ~ .panels #three-panel {
	display: block;
  }
  
  #one:checked ~ .tabs #one-tab,
  #two:checked ~ .tabs #two-tab,
  #three:checked ~ .tabs #three-tab {

	/* border-top: 3px solid #d6a354;
    color: white;
    background: #322f2f; */
	display: inline-block;
    font-weight: 700;
    font-size: 17px;
    margin: 15px;
    border: 2px solid #d6a354;
    color: rgb(255 255 255);
    background: #D7A354;
    /* background: rgb(72 62 62 / 90%); */
    cursor: pointer;
    padding: 1px 13px;
    border-radius: 25px;
  }
  .back_colour{
    background: rgba(0, 0, 0, 0.9);
}
a.boxed-btn:hover{
    text-decoration: none;
}
.button_center{
    text-align: center;
}
.back_colour{
    background: rgba(0, 0, 0, 0.9);
}
.inner{
    color: #fff !important;
}
/*  */


/*  */
/* -----------------------------------------------------------------------------

# List Styles

----------------------------------------------------------------------------- */
.list-section {
    /* background-color: #f5f5f5; */
    background: rgba(0, 0, 0, 0.9);
  }
  
  .list-box {
    overflow: hidden;
    letter-spacing: 0.5px;
  }
  
  .list-box .content h3 {
    display: block;
    line-height: 22px;
    font-size: 18px;
    margin-bottom: 4px;
  }
  
  .list-box .content p {
    margin-bottom: 0px;
    opacity: 0.75;
  }
  
  .list-box .list-icon i {
    display: block;
    font-size: 24px;
    margin-right: 15px;
    color: #d6a354;
    width: 65px;
    height: 65px;
    text-align: center;
    line-height: 60px;
    border: 2px #d6a354 dotted;
    border-radius: 999px;
  }
  /* banner */
  
  /* banner */



  @media (min-width: 576px) and (max-width: 767px) {}
  @media (min-width: 480px) and (max-width: 575px) {}
  @media (max-width: 479px) {
    a.cart-btn {
      font-size: 11px;
      padding: 3px 8px;
    }
	.cart-btn {
		margin-top: 0px !important;
	}
    .single-latest-news {
      
      height: 236px;
  }
  .car_dec {
    font-size: 16px;
    overflow: hidden;
    height: 81px;
    padding: 5px;
  }
  .single-product-item h3 {
    
    margin-top: 22PX;
}
  .latest-news-bg {
  height: 141px;
  
  }
  p.product-price span {
  font-size: 13px !important;
  }
  .height_h{
    height: 300px !important;
  }
  .product-image img {
   
    height: 116px;
}
.panels {
  
    padding: 0px; 
     margin: 0px 0;
}
  }

  .height_h{
    height: 700px;
  }
  .carousel-item {
    
    transition: -webkit-transform .0s ease-in-out !important;
    transition: transform .0s ease-in-out !important;
    transition: transform .0s ease-in-out,-webkit-transform .0s ease-in-out !important;
}

.carousel-inner{ position: relative;}
.carousel-inner:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #051922;
  content: "";
  /* z-index: 1; */
  opacity: 0.5;
}
.news-text-box {
  padding: 0px 10px 35px 10px !important;
 
}
.cart-btn{
  margin-top: 20px;
}

.d_flex{
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .single-product-img img {
	border-radius: 5px;
	height: 200px;
	width: 100%;
  }
  /* component */

.star-rating {
	/* border:solid 1px #ccc; */
	display:flex;
	flex-direction: row-reverse;
	font-size:1.5em;
	justify-content:space-around;
	padding:0 .2em;
	text-align:center;
	width:5em;
  }
  
  .star-rating input {
	display:none;
  }
  
  .star-rating label {
	color:#ccc;
	cursor:pointer;
  }
  
  .star-rating :checked ~ label {
	color:#f90;
  }
  
  .star-rating label:hover,
  .star-rating label:hover ~ label {
	color:#fc0;
  }
  .section-title {
    margin-bottom: 35px !important;
    margin-top: 0px !important;
}
.section-title h3 {
    font-size: 29px;
    
}
.product-image .img2 {

	height: 81px;
    max-width: 125px;
}
.product-image {
    padding: 10px;
    padding-bottom: 0;
}
.colour_s
{
	color: white;
	list-style-type: none;
	
}
.single-product-item .m-t {
 
    padding-bottom: 1px !important;

}
.product-section1{
  border: 1px solid #adaca9;
  border-radius: 8px;
  margin-top: 20px;
}

.icon-block svg {
  width: 100%;
  height: 100%;
}

* {
  font-family: Nunito, sans-serif;
}

.team-cards-inner-container {
  display: flex;
  row-gap: 1.3rem;
  column-gap: 1.3rem;
}

.text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  line-height: 25px;
}

.responsive-cell-block {
  min-height: 75px;
}

.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.inner-container {
  max-width: 1200px;
  min-height: 100vh;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  justify-content: center;
}

.section-head {
  font-size: 60px;
  line-height: 70px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 24px;
  margin-left: 0px;
}

.section-body {
  font-size: 14px;
  line-height: 18px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 64px;
  margin-left: 0px;
}

.team-cards-outer-container {
  display: flex;
  align-items: center;
}

.content-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  padding-top: 0px;
  padding-right: 25px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.img-box {
  max-width: 130px;
  max-height: 130px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 0px;
  margin-right: 25px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.card {
  background-color: rgb(255, 255, 255);
  display: flex;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  box-shadow: rgba(95, 95, 95, 0.1) 6px 12px 24px;
  flex-direction: row;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.card-container {
  max-width: 350px;
}

.card-content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.person-name {
  font-size: 20px;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
}

.person-info {
  font-size: 11px;
  line-height: 15px;
}

.card-container {
  max-width: 350px;
}

.outer-container {
  justify-content: center;
  padding-top: 0px;
  padding-right: 50px;
  padding-bottom: 0px;
  padding-left: 50px;
  background-color: #FAF8CD;
}

.person-img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0px);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0px);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

@media (max-width: 1024px) {
  .team-card-container {
    justify-content: center;
  }

  .section-head {
    font-size: 50px;
    line-height: 55px;
  }

  .img-box {
    max-width: 109px;
    max-height: 109px;
  }

  .content-container {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .inner-container {
    justify-content: space-evenly;
  }
}

@media (max-width: 768px) {
  .inner-container {
    margin-top: 60px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
  }

  .section-body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .img-box {
    margin-top: 0px;
    margin-right: 30px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .content-box {
    text-align: center;
  }

  .content-container {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
  }

  .card-container {
    max-width: 45%;
  }

  .team-cards-inner-container {
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .outer-container {
    padding-top: 0px;
    padding-right: 60px;
    padding-bottom: 0px;
    padding-left: 60px;
  }

  .section-head {
    font-size: 40px;
    line-height: 45px;
  }

  .content-box {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .section-body {
    font-size: 12px;
  }

  .img-box {
    max-width: 68px;
    max-height: 68px;
  }

  .person-name {
    font-size: 14px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 1px;
    margin-left: 0px;
  }

  .content-box {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 46px;
    margin-left: 0px;
    text-align: left;
  }

  .content-container {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .card-container {
    max-width: 100%;
  }
}