<!-- footer -->
<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="footer-box About Us-widget">
                    <h2 class="widget-title">About Us</h2>
                    <p>Pints N Shots, is the digital e-commerce concept for beverages. It is basically a digital wallet for purchasing the Discount coupons for beverages such as Alcoholic Beverages, Non alcoholic Beverages, coffee, Tea, Shisha, and Hookah. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box pages">
                    <h2 class="widget-title">Pages</h2>
                    <ul>
                        <li><a href="javascript:void(0);">Home</a></li>
                        <li><a href="javascript:void(0);">About Us</a></li>
                        <li><a href="javascript:void(0);">Visit The Tap Room</a></li>
                       
                        <li><a href="javascript:void(0);">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="footer-box get-in-touch">
                    <h2 class="widget-title">Get in Touch</h2>
                    <ul>
                        <li><i class="fa fa-envelope" style="color:#fcc133;"></i> &nbsp; <a href="mailto:info@pintsnshots.com">info@pintsnshots.com</a> </li>
                        <li><i class="fa fa-phone" style="color:#fcc133;"></i> &nbsp; <a href="tel:+91 8879222288">+91 8879222288</a> </li>
                        <li><i class="fa fa-map-marker" style="color:#fcc133;"></i>  &nbsp;Plot No 66 B 701 Satyam Harmony Sec 8A, Airoli, Mumbai, Mumbai City Maharashtra - 400708.</li>
                        
                    </ul>
                </div>
            </div>
            
            <!-- <div class="col-lg-3 col-md-6">
                <div class="footer-box subscribe">
                    <h2 class="widget-title">Subscribe</h2>
                    <p>Subscribe to our mailing list to get the latest updates.</p>
                    <form action="index.html">
                        <input type="email" placeholder="Email">
                        <button type="submit"><i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- end footer -->

<!-- copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <p>Copyrights &copy; 2023- <a href="">Pints n Shots</a>,  All Rights Reserved.<br>
                    
                </p>
            </div>
            <div class="col-lg-6 text-right col-md-12">
                <div class="social-icons">
                    <ul>
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end copyright -->
