<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <!-- <p>We sale fresh</p> -->
                    <h1>Order History</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<div class="product-section back_colour">
    <div class=" ">
        <div class="tab-content ">
            <div class="latest-news ">
                <div class="container">
                  

                    <div class="row no">

                 
                        <div class="col-lg-4 col-md-6"  *ngFor="let item of orderHistory">
                            <div  class="single-latest-news" >
                                <div class="news-text-box" >
                                    <ul class=" unordered-list" >
                                        
                                        <li class="bg_colour"><b style="color:#d6a354;">Product Name:- </b>{{item.product_name}}</li>

                                       

                                        <li class="bg_colour"> <b style="color:#d6a354;">Product Price:-</b>{{item.product_price}}</li>

                                        <li class="bg_colour"> <b style="color:#d6a354;">Quality:-</b>{{item.quantity}}</li>


                                    </ul>
                                   
                                </div>
                            </div>
                        </div>



                    </div>


                </div>
            </div>

        </div>

    </div>
</div>