a.boxed-btn:hover{
    text-decoration: none;
}
.button_center{
    text-align: center;
}
.back_colour{
    background: rgba(0, 0, 0, 0.9);
}
.inner{
    color: #fff !important;
}
.product-filters1{
  margin-bottom: 30px !important;
}
.new_product{
    border: 2px solid #d6a354 !important;
    border-radius: 7px;
}
.copy-visible-code1 {
    width: 186px;
    height: 38px;
    line-height: 35px;
    text-align: center;
    color: #d6a354;
    font-weight: bold;
    font-size: 15px;
    background: rgb(43 39 39);
    border-style: dashed;
    border-width: 1px;
    cursor: pointer;
    border-radius: 3px;
    overflow: hidden;
    /* padding: 20px; */
    position: inherit;
    bottom: 20px;
    /* margin: auto; */
    left: 0;
    right: 0;
    margin-bottom: 10px;
  }
  .copy-visible-code {
    width: 186px;
    height: 38px;
    line-height: 35px;
    text-align: center;
    color: #d6a354;
    font-weight: bold;
    font-size: 15px;
    background: rgb(43 39 39);
    border-style: dashed;
    border-width: 1px;
    cursor: pointer;
    border-radius: 3px;
    overflow: hidden;
    /* padding: 20px; */
    position: inherit;
    bottom: 20px;
    margin: auto;
    left: 0;
    right: 0;
    margin-bottom: 10px;
  }
/*  */


/*  */
/* -----------------------------------------------------------------------------

# List Styles

----------------------------------------------------------------------------- */
.list-section {
    /* background-color: #f5f5f5; */
    background: rgba(0, 0, 0, 0.9);
  }
  
  .list-box {
    overflow: hidden;
    letter-spacing: 0.5px;
  }
  
  .list-box .content h3 {
    display: block;
    line-height: 22px;
    font-size: 18px;
    margin-bottom: 4px;
  }
  
  .list-box .content p {
    margin-bottom: 0px;
    opacity: 0.75;
  }
  
  .list-box .list-icon i {
    display: block;
    font-size: 24px;
    margin-right: 15px;
    color: #d6a354;
    width: 65px;
    height: 65px;
    text-align: center;
    line-height: 60px;
    border: 2px #d6a354 dotted;
    border-radius: 999px;
  }
  /* banner */
  
  /* banner */
  .quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .quantity__minus,
  .quantity__plus {
    display: block;
    width: 30px;
    height: 43px;
    margin-bottom: 15px;
    background: #d6a354;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
  }
  .quantity__minus:hover,
  .quantity__plus:hover {
    background: #575b71;
    color: #fff;
  } 
  .quantity__minus {
    border-radius: 3px 0 0 3px;
  }
  .quantity__plus {
    border-radius: 0 3px 3px 0;
  }
  .quantity__input {
    width: 32px;
    height: 23px;
    margin: 0;
    padding: 0;
    text-align: center;
    border-top: 2px solid #dee0ee;
    border-bottom: 2px solid #dee0ee;
    border-left: 1px solid #dee0ee;
    border-right: 2px solid #dee0ee;
    background: #fff;
    color: #000;
  }
  .quantity__minus:link,
  .quantity__plus:link {
    color: #8184a1;
  } 
  .quantity__minus:visited,
  .quantity__plus:visited {
    color: #000;
  }
  .quantity input[type=number]::-webkit-inner-spin-button, 
.quantity input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}



input[type="number"] {
   
    border-radius: 0px !important;
    width: 60px !important;
}