	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p></p>
						<h1>Check Out Product</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- check out section -->
	<div class="checkout-section mt-150 mb-150 back_colour">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="checkout-accordion-wrap">
						<div class="accordion" id="accordionExample">
						  <div class="card single-accordion">
						    <div class="card-header" id="headingOne">
						      <h5 class="mb-0">
						        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						          Basic Infomation
						        </button>
						      </h5>
						    </div>

						    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="card-details">
						        	
									<div id="collapseCC" class="accordion-collapse collapse show" data-bs-parent="#accordionPayment">
									  <div class="accordion-body">
									   
										<div class="row">
										  <!-- <div class="col-lg-6">
											<div class="mb-3">
											  <label class="form-label">User Name</label>
											 <input type="text" class="form-control" placeholder="">
											</div>
										  </div>
										  <div class="col-lg-6">
											<div class="mb-3">
											  <label class="form-label">Mobile Number</label>
											 <input type="tel" class="form-control" placeholder="">
											</div>
										  </div> -->
										  <div class="col-lg-6">
											<div class="mb-3">
												<p class="single-product-content12"><strong>User Name: </strong>{{verifiedUser.fullname}}</p>
											</div>
										  </div>
										  <div class="col-lg-6">
											<div class="mb-3">
												<p class="single-product-content12"><strong>Mobile Number: </strong>{{verifiedUser.mobile_no}}</p>
											</div>
										  </div>
										</div>
									  </div>
									</div>
							  </div>
						      </div>
						    </div>
						  </div>
						 
						  <div class="card single-accordion">
						    <div class="card-header" id="headingThree">
						      <h5 class="mb-0">
						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									Taproom Infomation
						        </button>
						      </h5>
						    </div>
						    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="card-details">
									  <div id="collapseCC" class="accordion-collapse collapse show" data-bs-parent="#accordionPayment">
										<div class="accordion-body">
										 
											<div class="row">
											  <div class="col-lg-6">
												<div class="mb-3">
													<p class="single-product-content12"><strong>Taproom Name: </strong>{{tapRoom}}</p>
												</div>
											  </div>
											  <div class="col-lg-6">
												<div class="mb-3">
													<p class="single-product-content12"><strong>Taproom Address: </strong>{{tapRoomAddress}}</p>
												</div>
											  </div>
											  
											</div>
										  </div>
									  </div>
						        </div>
						      </div>
						    </div>
						  </div>
						  <div class="card single-accordion">
						    <div class="card-header" id="headingTwo">
						      <h5 class="mb-0">
						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse1" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						         Coupons Summary
						        </button>
						      </h5>
						    </div>
						    <div id="collapseTwo" class="collapse1" aria-labelledby="headingTwo" data-parent="#accordionExample">
						      <div class="card-body">
						        <div *ngFor="let i of cartlist" class="card-details">
									  <div id="collapseCC" class="accordion-collapse collapse show" data-bs-parent="#accordionPayment">
										<div class="accordion-body">
										 
										  <div class="row">
											<div class="col-lg-6">
											  <div class="mb-3">
												<div class="get-code-visible copy-visible-code1" data-offer-key="offerGetCodeBtnText"
												data-id="AJl2qkayMs" data-clipboard-text="CDUNIA" data-offer-value="&amp; GET CODE"
												data-offer-id="AJl2qkayMs">{{i.product_name+i.discount}}</div>
											  </div>
											</div>
											<div class="col-lg-6">
											  <div class="mb-3">
												<p style="color: black;
												float: right;font-size: 15px;"><strong >  ₹</strong>{{getTotal(i)}}{{Total}}</p>
											  </div>
											</div>
											
										  </div>
										  <div class="card single-accordion">
											<div class="card-header" id="headingFive">
											  <h5 class="mb-0">
												<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
												 View Less
												</button>
											  </h5>
											</div>
											<div id="collapseFive" class="collapseFive" aria-labelledby="headingFive" data-parent="#accordionExample">
											  <div class="card-body">
												<div class="card-details">
													  <div id="collapseCC" class="accordion-collapse collapse show" data-bs-parent="#accordionPayment">
														<div class="accordion-body">
														 
														  <div class="row">
															<div class="col-lg-3">
															{{i.product_name}}
															</div>
															<div class="col-lg-3">
																Qty:{{i.quantity}}
																</div>

																<div class="col-lg-3">
																	₹{{i.price}}({{i.discount}}% off)
																</div>
															<!-- <div class="col-lg-6">
															  <div class="mb-3">
																<label class="form-label">Taproom Name</label>
															   <input type="text" class="form-control" placeholder="">
															  </div>
															</div>
															<div class="col-lg-6">
															  <div class="mb-3">
																<label class="form-label">Taproom Address</label>
															   <input type="text" class="form-control" placeholder="">
															  </div>
															</div> -->
															<!-- <div class="col-lg-6">
																<div class="mb-3">
																  <p class="single-product-content12"><strong>Taproom Name: </strong>1</p>
																</div>
															  </div>
															  <div class="col-lg-6">
																<div class="mb-3">
																  <p class="single-product-content12"><strong>Taproom Address: </strong>₹ &nbsp;190.0</p>
																</div>
															  </div> -->
														  </div>
														</div>
													  </div>
												</div>
											  </div>
											</div>
										  </div>
										</div>
									  </div>
						        </div>
						      </div>
						    </div>
						  </div>
						  <div class="card single-accordion">
						    <div class="card-header" id="headingFour">
						      <h5 class="mb-0">
						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
						         Bill Total
						        </button>
						      </h5>
						    </div>
						    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="card-details">
									  <div id="collapseCC" class="accordion-collapse collapse show" data-bs-parent="#accordionPayment">
										<div class="accordion-body">
										 
										  <div class="row">
											<div class="col-lg-6">
											  <div class="mb-3">
												<p class="single-product-content12"><strong>Number Of Coupons: </strong>{{totalcoupons}}</p>
											  </div>
											</div>
											<div class="col-lg-6">
											  <div class="mb-3">
												<p class="single-product-content12"><strong>Coupons Total Price: </strong>₹ &nbsp;{{TotalPrice}}</p>
											  </div>
											</div>
											
										  </div>
										</div>
									  </div>
						        </div>
						      </div>
						    </div>
							
						  </div>
						</div>
						<a class="boxed-btn new_b" (click)="procpayment()"><i class="fa fa-credit-card" aria-hidden="true" ></i>&nbsp;Proceed To Payment</a>
					</div>
				</div>

				<!-- <div class="col-lg-4">
					<div class="order-details-wrap">
						<table class="order-details">
							<thead>
								<tr>
									<th>Your order Details</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody class="order-details-body">
								<tr>
									<td>Product</td>
									<td>Total</td>
								</tr>
								<tr>
									<td>Red Wine</td>
									<td>₹85.00</td>
								</tr>
								<tr>
									<td>Red Wine</td>
									<td>₹70.00</td>
								</tr>
								<tr>
									<td>Red Wine</td>
									<td>₹35.00</td>
								</tr>
							</tbody>
							<tbody class="checkout-details">
								<tr>
									<td>Subtotal</td>
									<td>₹190</td>
								</tr>
								
								<tr>
									<td>Total</td>
									<td>₹240</td>
								</tr>
							</tbody>
						</table>
						<a href="JavaScript:void(0);" class="boxed-btn"><i class="fa fa-credit-card" aria-hidden="true"></i>&nbsp;Proceed To Payment</a>
					</div>
				</div> -->
			</div>
		</div>
	</div>
	<!-- end check out section -->
	
