<div class="dialog1">
<div class="modal-content">
<!-- <div class="modal-header">
    <h4 class="modal-title">Hi there!</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div> -->
<div class="modal-body">
    <p>Your Order has been placed successfully.</p>    
    <button type="button" class="btn btn-outline-dark" (click)="onClick()">Home</button>
    <button type="button" class="btn btn-outline-dark" routerLink="/wallet" (click)="activeModal.close('Close click')">Thank You</button>

</div>

<!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div> -->
</div>
</div>