<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <!-- <p>We sale fresh</p> -->
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!--  -->
<div class=" back_colour">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">	
                  
                </div>
            </div>
        </div>
        <div class="row"  style="margin-top: 50px;">
            <div class="col-lg-12" *ngFor="let item of bannarlist">
                <h1>{{item.hotel_name}}</h1>
                <div class="single-article-section">
                    <div class="single-article-text">
                        <div class="single-artcile-bg">
                            <img src="../img/latest-news/news-bg-3.jpg" alt="">
                        </div>
                        <p class="blog-meta" style="text-align:center;">
                            <span class="date">
                                <a href=""><i class="fa fa-phone fa-2x" aria-hidden="true"></i> </a>
                            </span>
                            <span class="date"><a href=""><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></a> </span>
                            <span class="date"><a href=""><i class="fa fa-star fa-2x" aria-hidden="true"></i></a> </span>
                        </p>
                       <div class="row">
                        <div class="col-md-9">
                            <h2>Air Lounge</h2>
                          
                        </div>
                        <div class="col-md-3">
                            
                            <div class="star-rating">
                               
                                <input type="radio" id="5-stars" name="rating" value="5" />
                                <label for="5-stars" class="star">&#9733;</label>
                                <input type="radio" id="4-stars" name="rating" value="4" />
                                <label for="4-stars" class="star">&#9733;</label>
                                <input type="radio" id="3-stars" name="rating" value="3" />
                                <label for="3-stars" class="star">&#9733;</label>
                                <input type="radio" id="2-stars" name="rating" value="2" />
                                <label for="2-stars" class="star">&#9733;</label>
                                <input type="radio" id="1-star" name="rating" value="1" />
                                <label for="1-star" class="star">&#9733;</label> 
                                <!-- <p style="color: #B68D29;">Rating:</p> -->
                              </div>
                        </div>
                       </div>
                        <p style="margin-bottom: 20px;"><b style="color: #B68D29;">Address:</b>College Road, Thatte Nagar, Nashik, Maharashtra 422005, India, Nashik, Maharashtra, Maharashtra 422005
                        </p>
                        <table id="customers">
                           
                            <tr>
                              <td>Open Time</td>
                              <td>10:30 AM</td>
                            
                            </tr>
                            <tr>
                              <td>Close Time</td>
                              <td>10:00 PM</td>
                             
                            </tr>
                            <tr>
                              <td>Mobile Number</td>
                              <td>9737461237</td>
                           
                            </tr>
                            
                           
                          </table>
                        <!-- <div class="container">
                            
                              <table class="rwd-table">
                                <tbody>
                               
                                  
                                  <tr>
                                    <td >
                                        Open Time
                                    </td>
                                    <td >
                                        10:30 AM
                                    </td>
                                    
                                  </tr>
                                  <tr>
                                    <td >
                                      Close Time
                                    </td>
                                    <td >
                                     10:00 PM
                                    </td>
                                    
                                  </tr>
                                  <tr>
                                    <td >
                                      Mobile Number
                                    </td>
                                    <td >
                                      9777777777
                                    </td>
                                    
                                  </tr>
                                  
                                </tbody>
                              </table>
                             
                            </div> -->
                    <p style="margin-bottom: 20px;"><b style="color: #B68D29;">Description:</b>Antioxidants are compounds that help repair the damage to your cells
                        caused by free radicals — harmful molecules that cause oxidative stress.
                        Oxidative stress is associated with several chronic health conditions, including diabetes, cancer, and heart disease.
                        Grapes are rich in several powerful antioxidants. The highest concentration of antioxidants is found in the skin and seeds.
                        Some grape varieties contain a higher content of anthocyanins, a class of flavonoids that give these fruits orange, red, blue, pink, and purple colors. Human and animal studies indicate that anthocyanins may help prevent or treat brain and heart diseases 
                        (14Trusted Source, 15Trusted Source).
                    </p>
                    </div>
                    <div class="">
                        <h3 class="comment-count-title">Review</h3>
                        <div class="comment-list">
                            <div class="single-comment-body">
                                <div class="comment-user-avater">
                                    <img src="assets/img/avaters/avatar1.png" alt="">
                                </div>
                                <div class="comment-text-body">
                                    <h4>Jenny Joe <span class="comment-date">Aprl 26,2023</span> </h4>
                                    <p>Nunc risus ex, tempus quis purus ac, tempor consequat ex. Vivamus sem magna, maximus at est id, maximus aliquet nunc. Suspendisse lacinia velit a eros porttitor, in interdum ante faucibus Suspendisse lacinia velit a eros porttitor, in interdum ante faucibus.</p>
                                </div>
                                <div class="single-comment-body child">
                                    <div class="comment-user-avater">
                                        <img src="assets/img/avaters/avatar3.png" alt="">
                                    </div>
                                    <div class="comment-text-body">
                                        <h4>Simon Soe <span class="comment-date">Aprl 27,2023</span> </h4>
                                        <p>Nunc risus ex, tempus quis purus ac, tempor consequat ex. Vivamus sem magna, maximus at est id, maximus aliquet nunc. Suspendisse lacinia velit a eros porttitor, in interdum ante faucibus.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="single-comment-body">
                                <div class="comment-user-avater">
                                    <img src="assets/img/avaters/avatar2.png" alt="">
                                </div>
                                <div class="comment-text-body">
                                    <h4>Addy Aoe <span class="comment-date">May 12,2023</span> </h4>
                                    <p>Nunc risus ex, tempus quis purus ac, tempor consequat ex. Vivamus sem magna, maximus at est id, maximus aliquet nunc. Suspendisse lacinia velit a eros porttitor, in interdum ante faucibus Suspendisse lacinia velit a eros porttitor, in interdum ante faucibus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
            
        </div>
    </div>
</div>
<!--  -->

