<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <!-- <p>We sale fresh</p> -->
                    <h1>Taproom</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- taproom section -->

<div class="product-section  back_colour">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">	
                    <h3><span class="orange-text">Our</span> Taproom  </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
                </div>
            </div>
        </div>

        <div class="row" >
            <div class="col-lg-4 col-md-6 col-6 col-6 text-center" *ngFor="let item of tap" >
                <div class="single-product-item" >
                    <div class="product-image">
                        <a href="JavaScript:void(0);">
                            <img src="https://wowinfotech.net/pinsnshots/pintsnshots_api/{{item.hotel_image}}" alt=""></a>
                    </div>
                    <h3>{{item.hotel_name}} </h3>
                    <p class="product-price"><span>Thane Station Road, Jambli Naka, Thane West, Thane, Maharashtra, India</span>  </p>
                    <a routerLink="/product-components" class="cart-btn">Continue</a>
                    <!-- <i class="fas fa-shopping-cart"></i>  -->
                </div>
            </div>

         
        </div>
    </div>
</div>
<!-- <div class="product-section mt-150 mb-150 back_colour">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">	
                    <h3><span class="orange-text">Our</span> Taproom  </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-6 text-center" *ngFor="let item of tap">
                <div class="single-product-item" >
                    <div class="product-image">
                        <a href="JavaScript:void(0);">
                            <img src="https://wowinfotech.net/pinsnshots/pintsnshots_api/{{item.hotel_image}}" alt=""></a>
                    </div>
                    <h3>{{item.hotel_name}}</h3>
                    <p class="product-price"><span>Thane Station Road, Jambli Naka, Thane West, Thane, Maharashtra, India</span>  </p>
                    <a routerLink="/product-components" class="cart-btn">Continue</a>
                </div>
            </div>

           
        </div>
    </div>
</div> -->
<!-- end taproom section -->