<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>See more Details</p>
                    <h1>OTP</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="checkout-section mt-150 mb-150 back_colour">
<div class="container ">
    <div class="d-flex justify-content-center align-item-center container shadow-sm">
        <div class="col-md-6 offset md-3 p-3  mt-5">

            <div class="card py-5 px-3">
                <h5 class="ml-10">OTP Verification</h5>

                <div>
                    <img class="img-fluid" src="assets/img/otp.jpg" alt="otp">
                </div>

              
              <div >
                <p class="mr-10">Enter verification code</p>
                <ng-otp-input class="otp_box " (onInputChange)="onOtpChange($event)" *ngIf="showOtpComponent" [config]="config">
                </ng-otp-input>
                <span>
                    <div class=" otp_box1 text-danger" *ngIf="wrongOTP">please Enter Valid OTP</div>
                </span>
              </div>
                <div class="otp_box1"> 
                    <button type="button" class="btn btn-primary m-5 mr-3" (click)="verify()">Verify</button>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
