<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <!-- <p>We sale fresh</p> -->
                    <h1>Wallet Details</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<div class="product-section back_colour">
    <div class=" ">
        <div class="tab-content ">
            <div class="latest-news ">
                <div class="container">
                    <div class="row no">

<span *ngIf="showError" style="font-size: 20px; color: coral; text-align:center;">Wallet is not available!</span>
                        <div class="col-lg-4 col-md-6" *ngFor="let itm of walletdetails">
                            <div *ngIf="!showError" class="single-latest-news">
                                <div class="news-text-box">
                                    <ul class=" unordered-list">
                                        <div class="get-code-visible copy-visible-code1"
                                            data-offer-key="offerGetCodeBtnText" data-id="AJl2qkayMs"
                                            data-clipboard-text="CDUNIA" data-offer-value="&amp; GET CODE"
                                            data-offer-id="AJl2qkayMs">{{itm.product_name}}{{itm.discount_id}}%</div>
                                        <li class="bg_colour"><b style="color:#d6a354;">Product Name:- </b>{{itm.product_name}}</li>

                                        <li class="bg_colour"> <b style="color:#d6a354;">Product Price:- </b>{{getPrice(itm)}}<span style="color: rgb(8, 163, 8);">₹{{price}}</span>&nbsp;<span style="text-decoration: line-through;">₹{{itm.product_price}}</span>
                                        </li>

                                        <li class="bg_colour"> <b style="color:#d6a354;">No Of Coupons:-</b>{{itm.quantity}}</li>

                                        <li class="bg_colour"> <b style="color:#d6a354;">Discount:-</b>{{itm.discount_id}}% off</li>


                                    </ul>
                                    <a *ngIf="showShare"  (click)="openMobileModal(itm,mobileNumber)" >
                                        <div class="readi" style="color: white;">
                                            <i class="fa fa-share" aria-hidden="true"></i><b> &nbsp;Share</b>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>



                    </div>


                </div>
            </div>

        </div>

    </div>
</div>


<ng-template #mobileNumber let-modal >
    <div style="background-color: #191C24;">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color: #d6a354; "><b>Wallet Share</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close('Save click')">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="mobileForm">

            <div class="form-group">

                <input class="form-control" type="text" id="message-text"
                    placeholder="Please Enter Receivers Mobile Number" formControlName="mobile" maxlength="10">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="close_modal" (click)="modal.close('Save click')">Close</button>
        <button type="button" (click)="checkMobile(mobileModal)" data-dismiss="modal"  class="btn btn-primary">Share</button>
      </div>
   
</div>
</ng-template>

<!--FIRST MODEL  -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title" id="exampleModalLabel" style="color: #d6a354; "><b>Wallet Share</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="mobileForm">

                    <div class="form-group">

                        <input class="form-control" type="text" id="message-text"
                            placeholder="Please Enter Receivers Mobile Number" formControlName="mobile" maxlength="10">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" 
                 (click)="checkMobile(mobileModal)" data-dismiss="modal"  class="btn btn-primary">Share</button>
            </div>
        </div>
    </div>
</div> -->

<!--FIRST MODEL  -->



<!-- SECOND MODEL -->
<ng-template #mobileModal let-modal >
    <div *ngFor="let data of shareUser" style="background-color: #191C24;">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1" style="color: #d6a354; "><b>{{data.fullname}}</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close('Save click')">
                    <span aria-hidden="true">&times;</span>
                </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="quantityForm" style="display: flex;">

            <div class="col-md-6">
                <div class="form-group" style="width: 200px;">

                    <input type="text" class="form-control " id="message-text" formControlName="quantity" placeholder="Enter Quantity" maxlength="2">
                    
                </div>
            </div>
            <div class="col-md-6" style="color: white;">
                <div class="text_a"><span>*</span> ₹{{itemData.product_price}}</div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="closemodal" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
        <button type="button" (click)="shareWallet()" class="btn btn-primary">Share</button>
      </div>
    <!-- <div class="modal-dialog" role="document">
        <div class="modal-content" *ngFor="let data of shareUser">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1" style="color: #d6a354; "><b>{{data.fullname}}</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="quantityForm" style="display: flex;">

                    <div class="col-md-6">
                        <div class="form-group" style="width: 200px;">

                            <textarea class="form-control " id="message-text" formControlName="quantity" placeholder="Enter Quantity" maxlength="2"></textarea>
                            
                        </div>
                    </div>
                    <div class="col-md-6" style="color: white;">
                        <div class="text_a"><span>*</span> ₹{{itemData.product_price}}</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="closemodal"  class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" (click)="shareWallet()" class="btn btn-primary">Share</button>
            </div>
        </div>
    </div> -->
</div>
</ng-template>

<!--SECOND MODEL  -->