<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <!-- <p>We sale fresh</p> -->
                    <h1>Wallet Details</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<div class="product-section back_colour">
    <div class=" ">
        <div class="tab-content ">
            <div class="latest-news ">
                <div class="container">
                    <div class="row no">
                      
                       
                        <div class="col-lg-4 col-md-6">
                            <div class="single-latest-news">


                                <div class="news-text-box">
                                    <ul class=" unordered-list">
                                        <div class="get-code-visible copy-visible-code1" data-offer-key="offerGetCodeBtnText"
                                        data-id="AJl2qkayMs" data-clipboard-text="CDUNIA" data-offer-value="&amp; GET CODE"
                                        data-offer-id="AJl2qkayMs">FFDNPR</div>
                                        <li class="bg_colour"><b style="color:#d6a354;">Product Name:- </b>BLACK FOREST KUKA</li>

                                        <li class="bg_colour"> <b style="color:#d6a354;">Product Price:- </b>₹280.0 </li>

                                        <li class="bg_colour"> <b style="color:#d6a354;">No Of Coupons:-</b>2</li>

                                        <li class="bg_colour"> <b style="color:#d6a354;">Discount:-</b>5% off</li>


                                    </ul>
                                   <a  data-toggle="modal" data-target="#exampleModal"> <div class="readi" style="color: white;">
                                    <i class="fa fa-share" aria-hidden="true"></i><b> &nbsp;Share</b>
                            </div></a>
                                </div>


                            </div>
                        </div> 
                        
                        <div class="col-lg-4 col-md-6">
                            <div class="single-latest-news">


                                <div class="news-text-box">
                                    <ul class=" unordered-list">
                                        <div class="get-code-visible copy-visible-code1" data-offer-key="offerGetCodeBtnText"
                                        data-id="AJl2qkayMs" data-clipboard-text="CDUNIA" data-offer-value="&amp; GET CODE"
                                        data-offer-id="AJl2qkayMs">FFDNPR</div>
                                        <li class="bg_colour"><b style="color:#d6a354;">Product Name:- </b>BLACK FOREST KUKA</li>

                                        <li class="bg_colour"> <b style="color:#d6a354;">Product Price:- </b>₹280.0 </li>

                                        <li class="bg_colour"> <b style="color:#d6a354;">No Of Coupons:-</b>2</li>

                                        <li class="bg_colour"> <b style="color:#d6a354;">Discount:-</b>5% off</li>


                                    </ul>
                                   <a  data-toggle="modal" data-target="#exampleModal"> <div class="readi" style="color: white;">
                                    <i class="fa fa-share" aria-hidden="true"></i><b> &nbsp;Share</b>
                            </div></a>
                                </div>


                            </div>
                        </div> 
                        <div class="col-lg-4 col-md-6">
                            <div class="single-latest-news">


                                <div class="news-text-box">
                                    <ul class=" unordered-list">
                                        <div class="get-code-visible copy-visible-code1" data-offer-key="offerGetCodeBtnText"
                                        data-id="AJl2qkayMs" data-clipboard-text="CDUNIA" data-offer-value="&amp; GET CODE"
                                        data-offer-id="AJl2qkayMs">FFDNPR</div>
                                        <li class="bg_colour"><b style="color:#d6a354;">Product Name:- </b>BLACK FOREST KUKA</li>

                                        <li class="bg_colour"> <b style="color:#d6a354;">Product Price:- </b>₹280.0 </li>

                                        <li class="bg_colour"> <b style="color:#d6a354;">No Of Coupons:-</b>2</li>

                                        <li class="bg_colour"> <b style="color:#d6a354;">Discount:-</b>5% off</li>


                                    </ul>
                                   <a  data-toggle="modal" data-target="#exampleModal"> <div class="readi" style="color: white;">
                                    <i class="fa fa-share" aria-hidden="true"></i><b> &nbsp;Share</b>
                            </div></a>
                                </div>


                            </div>
                        </div> 
                        
                        <div class="col-lg-4 col-md-6">
                            <div class="single-latest-news">


                                <div class="news-text-box">
                                    <ul class=" unordered-list">
                                        <div class="get-code-visible copy-visible-code1" data-offer-key="offerGetCodeBtnText"
                                        data-id="AJl2qkayMs" data-clipboard-text="CDUNIA" data-offer-value="&amp; GET CODE"
                                        data-offer-id="AJl2qkayMs">FFDNPR</div>
                                        <li class="bg_colour"><b style="color:#d6a354;">Product Name:- </b>BLACK FOREST KUKA</li>

                                        <li class="bg_colour"> <b style="color:#d6a354;">Product Price:- </b>₹280.0 </li>

                                        <li class="bg_colour"> <b style="color:#d6a354;">No Of Coupons:-</b>2</li>

                                        <li class="bg_colour"> <b style="color:#d6a354;">Discount:-</b>5% off</li>


                                    </ul>
                                   <a  data-toggle="modal" data-target="#exampleModal"> <div class="readi" style="color: white;">
                                    <i class="fa fa-share" aria-hidden="true"></i><b> &nbsp;Share</b>
                            </div></a>
                                </div>


                            </div>
                        </div> 
                        <div class="col-lg-4 col-md-6">
                            <div class="single-latest-news">


                                <div class="news-text-box">
                                    <ul class=" unordered-list">
                                        <div class="get-code-visible copy-visible-code1" data-offer-key="offerGetCodeBtnText"
                                        data-id="AJl2qkayMs" data-clipboard-text="CDUNIA" data-offer-value="&amp; GET CODE"
                                        data-offer-id="AJl2qkayMs">FFDNPR</div>
                                        <li class="bg_colour"><b style="color:#d6a354;">Product Name:- </b>BLACK FOREST KUKA</li>

                                        <li class="bg_colour"> <b style="color:#d6a354;">Product Price:- </b>₹280.0 </li>

                                        <li class="bg_colour"> <b style="color:#d6a354;">No Of Coupons:-</b>2</li>

                                        <li class="bg_colour"> <b style="color:#d6a354;">Discount:-</b>5% off</li>


                                    </ul>
                                   <a  data-toggle="modal" data-target="#exampleModal"> <div class="readi" style="color: white;">
                                    <i class="fa fa-share" aria-hidden="true"></i><b> &nbsp;Share</b>
                            </div></a>
                                </div>


                            </div>
                        </div> 
                        
                        <div class="col-lg-4 col-md-6">
                            <div class="single-latest-news">


                                <div class="news-text-box">
                                    <ul class=" unordered-list">
                                        <div class="get-code-visible copy-visible-code1" data-offer-key="offerGetCodeBtnText"
                                        data-id="AJl2qkayMs" data-clipboard-text="CDUNIA" data-offer-value="&amp; GET CODE"
                                        data-offer-id="AJl2qkayMs">FFDNPR</div>
                                        <li class="bg_colour"><b style="color:#d6a354;">Product Name:- </b>BLACK FOREST KUKA</li>

                                        <li class="bg_colour"> <b style="color:#d6a354;">Product Price:- </b>₹280.0 </li>

                                        <li class="bg_colour"> <b style="color:#d6a354;">No Of Coupons:-</b>2</li>

                                        <li class="bg_colour"> <b style="color:#d6a354;">Discount:-</b>5% off</li>


                                    </ul>
                                   <a  data-toggle="modal" data-target="#exampleModal"> <div class="readi" style="color: white;">
                                    <i class="fa fa-share" aria-hidden="true"></i><b> &nbsp;Share</b>
                            </div></a>
                                </div>


                            </div>
                        </div> 
                        
                    </div>


                </div>
            </div>
      
</div>
       
    </div>
</div>


<!--FIRST MODEL  -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          
          <h5 class="modal-title" id="exampleModalLabel" style="color: #d6a354; " ><b>Wallet Share</b></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
           
            <div class="form-group">
            
              <textarea class="form-control" id="message-text"  placeholder="Please Enter Receivers Mobile Number"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button"  data-toggle="modal" data-target="#exampleModal1" class="btn btn-primary">Share</button>
        </div>
      </div>
    </div>
  </div>

<!--FIRST MODEL  -->



<!-- SECOND MODEL -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel1" style="color: #d6a354; " ><b>Vishal Handore</b></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form style="display: flex;">
            
           <div class="col-md-6"> <div class="form-group" style="width: 200px;">
           
            <textarea class="form-control " id="message-text"></textarea>
          </div></div>
          <div class="col-md-6" style="color: white;">
            <div class="text_a"><span>*</span> ₹ 150</div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Share</button>
        </div>
      </div>
    </div>
  </div>

<!--SECOND MODEL  -->