<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <!-- <p>We sale fresh</p> -->
                    <h1>Blog Details</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!--  -->
<div class=" back_colour">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">	
                  
                </div>
            </div>
        </div>
        <div class="row"  style="margin-top: 50px;">
            <div class="col-lg-8">
                <div class="single-article-section">
                    <div class="single-article-text">
                        <div class="single-artcile-bg"></div>
                        <p class="blog-meta">
                          
                            <span class="date"><i class="fas fa-calendar"></i> 25 January, 2023</span>
                        </p>
                        <h2>High in antioxidants</h2>
                        <p style="margin-bottom: 20px;">Antioxidants are compounds that help repair the damage to your cells
                        caused by free radicals — harmful molecules that cause oxidative stress.
                        Oxidative stress is associated with several chronic health conditions, including diabetes, cancer, and heart disease.
                        Grapes are rich in several powerful antioxidants. The highest concentration of antioxidants is found in the skin and seeds.
                        Some grape varieties contain a higher content of anthocyanins, a class of flavonoids that give these fruits orange, red, blue, pink, and purple colors. Human and animal studies indicate that anthocyanins may help prevent or treat brain and heart diseases 
                        (14Trusted Source, 15Trusted Source).
                    </p>
                    </div>

                   
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar-section">
                    <div class="recent-posts">
                        <h4>Recent Posts</h4>
                        <ul>
                            <li><a href="">You will vainly look for fruit on it in autumn.</a></li>
                            <li><a href="">A man's worth has its season, like tomato.</a></li>
                            <li><a href="">Good thoughts bear good fresh juicy fruit.</a></li>
                            <li><a href="">Fall in love with the fresh orange</a></li>
                            <li><a href="">Why the berries always look delecious</a></li>
                            <li><a href="">You will vainly look for fruit on it in autumn.</a></li>
                            <li><a href="">A man's worth has its season, like tomato.</a></li>
                            <li><a href="">Good thoughts bear good fresh juicy fruit.</a></li>
                            <li><a href="">Fall in love with the fresh orange</a></li>
                            <li><a href="">Why the berries always look delecious</a></li>
                        </ul>
                    </div>
                   
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!--  -->

