
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <!-- <p>We sale fresh</p> -->
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<div class="product-section back_colour">
    <div class="tab_container ">

        <input id="tab1" type="radio" name="tabs" checked>
        <label class="sub1" for="tab1"><span (click)="active()">ACTIVE</span></label>

        <input id="tab2" type="radio" name="tabs">
        <label class="sub1"  for="tab2"><span (click)="completed()">COMPLETED</span></label>



        <section id="content1" class="tab-content ">
            <div class="latest-news ">
                <div class="container">
                    <span style="font-size: 20px; color: coral; text-align:center;" *ngIf="showError">No Active Yet</span>
                    <div class="row">
                        <div class="col-lg-6 col-md-6" *ngFor="let item of activelist; let i = index" [class.focus]="isActive==item.order_id">
                          <a > 
                             <div class="single-latest-news">
                              
                            <div (click)="onwallet(item,actiVe)" class="news-text-box">
                                <ul class=" unordered-list">
                                    <li><b style="color:#d6a354;">Hotel Name:- </b>{{item.hotel_name}}</li>

                                    <li> <b style="color:#d6a354;">Address:- </b>{{item.address}}</li>

                                    <li> <b style="color:#d6a354;">Valid Upto :-</b>{{item.valid_upto_date}}</li>

                                    <!-- <li> <b style="color:#FF6634;">संपर्क:- </b>९९३०९९८००७  <b style="color:#FF6634;padding-left:10px;">कार्यालय:- </b>०२२ २५९७०६२५</li> -->


                                </ul>
                            </div>


                        </div></a>
                        </div>                        
                    </div>
                </div>
            </div>
        </section>

        <section id="content2" class="tab-content ">
            <div class="latest-news ">
                <div class="container">
                    <span style="font-size: 20px; color: coral; text-align:center;" *ngIf="showError">Wallet is not available!</span>
                    <div class="row">
                        <div class="col-lg-6 col-md-6" *ngFor="let item of completedlist">
                           <a >
                            <div class="single-latest-news">


                                <div (click)="onwallet(item,complete)" class="news-text-box">
                                    <ul class=" unordered-list">
                                        <li><b style="color:#d6a354;">Hotel Name:- </b>{{item.hotel_name}}</li>

                                        <li> <b style="color:#d6a354;">Address:- </b>{{item.address}}</li>

                                        <li> <b style="color:#d6a354;">Valid Upto:-</b>{{item.valid_upto_date}}</li>
                                        <li> <b style="color:#d6a354;">Status:-</b></li>

                                    </ul>
                                </div>


                            </div>
                           </a>
                        </div>



                    </div>


                </div>
            </div>
        </section>

    </div>
</div>