
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p></p>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->
 
	<!-- check out section -->
	<div class="checkout-section mt-150 mb-150 back_colour">
		<div class="container12 clearfix">
            <div class="form registration">
                <h1 class="profile_t">Profile</h1>
                <!-- <a class="logo" >
                    <img src="assets/img/256-512.jpg" style="width: 50%;" alt="Logo" />
                </a> -->
                <form #updateForm [formGroup]="profile" (ngSubmit)="update()">
                    <p>
                        <label>Full Name<span>*</span></label>
                        <input type="text"  formControlName="fullname">
                    </p>
                    <!-- <p>
                        <label>Last name<span>*</span></label>
                        <input type="text" required>
                    </p> -->
                    <p>
                        <label>Email Address<span>*</span></label>
                        <input type="email"  formControlName="email">
                        <span *ngIf="isSubmitted ">
                            <div class="text-danger" *ngIf="form['email'].errors?.['pattern']">Please Enter Valid Email
                            </div>
                            
                        </span>
                    </p>
                    <p ><label >Country Code</label>
                        <select name="country" id="country" [(ngModel)]="countrycode" class="form-control"  formControlName="countryCode"  >
                            <ng-container *ngFor="let i of countryList">
                            <option >{{i.code}}</option>
                        </ng-container>
                            
                            
                        </select>
                    </p>
                    
                    <p>
                        <label>Phone Number<span>*</span></label>
                        <input type="text"  formControlName="mobile_no" maxlength="10">
                        <span *ngIf="form['mobile_no'].touched&&isSubmitted ">
                            <div class="text-danger" *ngIf="form['mobile_no'].errors?.['pattern']||form['mobile_no'].errors?.['minlength']">Please Enter Valid MobileNumber
                            </div>
                            
                        </span>
                    </p>
                    <p>
                        <label>Date Of Birth<span>*</span></label>
                        <input type="date"  formControlName="dob" [attr.disabled]="this.showDOB ? '' : null">
                    </p>
                    <div style="display: flex;">
                        <span>Gender </span>
                        
                        <input type="radio" value="Male"  formControlName="gender"> <label>Male </label>
                      
                        <input type="radio" id="female" value="Female"  formControlName="gender"> <label for="female">Female </label> 
                    </div>
                    <p>
                        <label>Country </label>
                        <select name="country" id="country"  (change)="onCountryChange($event)" formControlName="country" class="form-control" >
                            <option *ngFor="let i of countryList" >{{i.value}}</option>
                            
                        </select>
                    </p>
                    <p *ngIf="!isUs">
                        <label>PAN</label>
                        <input type="text"  formControlName="pan" required>
                        <span *ngIf="isSubmitted ">
                            <div class="text-danger" *ngIf="form['pan'].errors?.['pattern']">Please Enter Valid PAN
                            </div>
                            <div class="text-danger" *ngIf="form['pan'].errors?.['required']">Please Enter PAN Number
                            </div>
                        </span>
                    </p>
                    <p *ngIf="isUs">
                        <label>EmiratesID</label>
                        <input type="text"  formControlName="pan" required>
                        <span *ngIf="isSubmitted ">
                            <div class="text-danger" *ngIf="form['pan'].errors?.['pattern']">Please Enter Valid EmiratesID
                            </div>
                            <div class="text-danger" *ngIf="form['pan'].errors?.['required']">Please Enter EmiratesID
                            </div>
                        </span>
                    </p>
                    <p *ngIf="isUs">
                        <label>EmiratedID Expiry Date<span>*</span></label>
                        <input type="date"  formControlName="expiry_date">
                    </p>
                    <p *ngIf="isUs">
                        <label>Passport</label>
                        <input type="text"  formControlName="passport">
                        <span *ngIf="isSubmitted ">
                        <span class="text-danger" *ngIf="form['passport'].errors?.['required']">Please Enter Passport Number
                        </span>
                    </span>
                    </p>
                    <p *ngIf="!isUs">
                        <label>Passport (optional)</label>
                        <input type="text"  formControlName="passport">
                    </p>
                    <!-- <p *ngIf="isUs">
                        <label>Passport Expiry</label>
                        <input type="month"  formControlName="passport_expiry_date">
                        <span *ngIf="isSubmitted ">
                            <span class="text-danger" *ngIf="form['passport_expiry_date'].errors?.['required']">Please Enter Passport Expiry
                            </span>
                        </span>
                    </p> -->
                    <p  *ngIf="isUs">
                        <label>Passport Expiry (optional)</label>
                        <select   style="display: inline;width: 45%;" formControlName="month" class="form-control" >
                            <option value="">Select Month</option>
                            <option *ngFor="let i of months" >{{i.value}}</option>
                            
                        </select>
                        <select  style="display: inline;width: 45%;margin-left: 10%;" formControlName="year" class="form-control">
                            <option >Select Year</option>
                            <option *ngFor="let i of years" >{{i}}</option>
                            
                        </select>
                        <span *ngIf="isSubmitted ">
                            <span class="text-danger" *ngIf="form['passport_expiry_date'].errors?.['required']">Please Enter Passport Expiry
                            </span>
                        </span>
                    </p>
                    <p  *ngIf="!isUs">
                        <label>Passport Expiry (optional)</label>
                        <select   style="display: inline;width: 45%;" formControlName="month" class="form-control" >
                            <option [value]="" selected>Select Month</option>
                            <option *ngFor="let i of months" [value]='i.id'>{{i.value}}</option>
                            
                        </select>
                        <select  style="display: inline;width: 45%;margin-left: 10%;" formControlName="year" class="form-control">
                            <option >Select Year</option>
                            <option *ngFor="let i of years" >{{i}}</option>
                            
                        </select>
                    </p>

                    <!-- <p *ngIf="!isUs">
                        <label>Passport Expiry (optional)</label>
                        <input type="text" placeholder="Select Date" onfocus="(this.type='month')" onfocus="(this.datepicker='show')" onblur="(this.type='text')" formControlName="passport_expiry_date">
                    </p> -->
                    <!-- <p ><ngb-datepicker #dp  ></ngb-datepicker></p> -->
                    <p>
                        <span class="check">
                            <input type="checkbox" formControlName="tnc" class="inputCheck" checked value="tnc" /><a data-toggle="modal" data-target="#tNcModal">I Accept to the Terms and Conditions</a>
                        </span>
                        </p>
                    <p>
                        <a><input type="submit" value="Update" /></a>
                    </p>
                    
                </form>
            </div>
        </div>
	</div>

    <div class="modal" tabindex="-1" role="dialog" id="tNcModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title">Terms and Conditions</h2>
              
            </div>
            <div class="modal-body">
                <h5>1. TERMS OF USE</h5>
                By downloading, browsing, accessing or using this mobile application ("mobile Application"), you agree 
                to be bound by these Terms and Conditions Of Use. We reserve the rightbto amend these terms and conditions at any time.
                If you disagree with any of these Terms and Conditions of Use , you must immediately discontinue your access to the mobile Application
                and use of the services offered on the Mobile Application . Continued use of the Mobile Application qill constitute acceptance of these
                Terms and Conditions of Use, as may be amended from time to time.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" data-dismiss="modal">OK</button>
              
            </div>
          </div>
        </div>
      </div>
	<!-- end check out section -->
	

