


	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p></p>
						<h1>Registration</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- check out section -->
	<div class="checkout-section mt-150 mb-150 back_colour">
		<div class="container12 clearfix">
            <div class="form registration">
                <a class="logo" href="">
                    <img src="assets/img/new_logo.png" style="width: 50%;" alt="Logo" />
                </a>
                <form>
                    <p>
                        <label>Full Name<span>*</span></label>
                        <input type="text" required>
                    </p>
                    <!-- <p>
                        <label>Last name<span>*</span></label>
                        <input type="text" required>
                    </p> -->
                    <p>
                        <label>Email address<span>*</span></label>
                        <input type="email" required>
                    </p>
                    <p>
                        <label>Phone Number<span>*</span></label>
                        <input type="number" required>
                    </p>
                    <p>
                        <label>County <span>*</span></label>
                        <select name="country" id="" class="form-control">
                            <option value="India">India</option>
                            <option value="austrailia">Australia</option>
                            <option value="Malaysia">Malaysia</option>
                        </select>
                    </p>
                    
                    <p>
                        <a routerLink="/login"><input type="submit" value="Signup" /></a>
                    </p>
                </form>
            </div>
        </div>
	</div>
	<!-- end check out section -->
	

