<!-- header -->
<div class="top-header-area" id="sticker">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <div class="main-menu-wrap">
                    <!-- logo -->
                    <div class="site-logo">
                        <a href="index.html">
                            <img src="assets/img/new_logo.png" alt="">
                        </a>
                    </div>
                    <!-- logo -->

                    <!-- menu start -->
                    <nav class="main-menu">
                        <ul >
                            <li [routerLinkActive]="['current-list-item']" [routerLinkActiveOptions]={exact:true}><a  class="" routerLink="/" >Home</a>
                                <!-- <ul class="sub-menu">
                                    <li><a href="index.html">Static Home</a></li>
                                    <li><a href="index_2.html">Slider Home</a></li>
                                </ul> -->
                            </li>
                            <li [routerLinkActive]="['current-list-item']"><a [routerLink]="['/about']" routerLinkActive="active">About Us</a></li>
                            <!-- <li><a href="#">Pages</a>
                                <ul class="sub-menu">
                                    <li><a href="404.html">404 page</a></li>
                                    <li><a href="About Us.html">About Us</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="checkout.html">Check Out</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <li><a href="news.html">News</a></li>
                                    <li><a href="shop.html">Shop</a></li>
                                </ul>
                            </li> -->

                           
                            <li class="sub_1" [routerLinkActive]="['current-list-item']"><a href="JavaScript:void(0);">Restaurant</a>
                                <ul class="sub-menu">
                                    <li  class="a1"><a class="a1" routerLink="/taproom-product">Taproom</a></li>
                                    <li  class="a1"><a routerLink="/coffee-shop">Coffee Shop</a></li>
                                    <!-- <li><a href="single-product.html">Single Product</a></li> -->
                                    <li  class="a1"><a routerLink="/shisha-lounge">Shisha Lounge</a></li>
                                </ul>
                            </li>
                            <li [routerLinkActive]="['current-list-item']"><a routerLink="/blog" >Blog</a>
                                <!-- <ul class="sub-menu">
                                    <li><a href="news.html">News</a></li>
                                    <li><a href="single-news.html">Single News</a></li>
                                </ul> -->
                            </li>
                            <li [routerLinkActive]="['current-list-item']"><a routerLink="/contact-us">Contact</a></li>
                        <li [routerLinkActive]="['current-list-item']" *ngIf="username1"><a routerLink="/wallet">Wallet</a></li>
                           
                            <li>
                                <div class="header-icons">
                                    <li [routerLinkActive]="['current-list-item']" *ngIf="username1"> <a class="shopping-cart" routerLink="/add-cart"><i class="fas fa-shopping-cart"></i><span class="position-absolute translate-middle badge rounded-pill" style="background-color: rgb(50, 141, 216);">{{cartlength}}</span></a></li>
                                    <li [routerLinkActive]="['current-list-item']"><a class="mobile-hide search-bar-icon" routerLink="/search"><i class="fas fa-search"></i></a>
                                    </li>
                                    <li [routerLinkActive]="['current-list-item']"><a *ngIf="username1" routerLink="/login">{{username1}}</a>
                                        <a *ngIf="!username1" routerLink="/login">Login</a>

                                        <ul  *ngIf="username1" class="sub-menu">
                                            <li><a  routerLink="/profile">Profile</a></li>
                                            <li><a href=" "  (click)="logout()">Logout</a></li>
                                        </ul>
                                    </li>
                                </div>
                            </li>
                            
                           
                        </ul>
                    </nav>
                    <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                    <div class="mobile-menu"></div>
                    <!-- menu end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end header -->

<!-- search area -->
<!-- <div class="search-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="close-btn"><i class="fas fa-window-close"></i></span>
                <div class="search-bar">
                    <div class="search-bar-tablecell">
                        <h3>Search For:</h3>
                        <input type="text" placeholder="Keywords">
                        <button type="submit">Search <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- end search area -->
	