<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <!-- <p>We sale fresh</p> -->
                    <h1>Coffee Shop</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- product section -->
<div class="product-section mt-150 mb-150 back_colour">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">	
                    <h3><span class="orange-text">Our</span> Coffee Shop  </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div routerLink="/product-components" class="col-lg-4 col-md-6 text-center" *ngFor="let item of coffee">
                <div class="single-product-item" >
                    <div class="product-image">
                        <a href="JavaScript:void(0);">
                            <img src="https://wowinfotech.net/pinsnshots/pintsnshots_api/{{item.hotel_image}}" alt=""></a>
                    </div>
                    <h3>{{item.hotel_name}}</h3>
                    <p class="product-price"><span>Shop No 7/8 Sancheti apt. Beside Swastik Croporation Vidya Vikas Circule Gangapur Road Nashik, Mahar Beside Swastik Croporatio</span>  </p>
                    <a  href="JavaScript:void(0);" class="cart-btn">Continue</a>
                    <!-- <i class="fas fa-shopping-cart"></i>  -->
                </div>
            </div>

            <!-- <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="JavaScript:void(0);"><img src="assets/img/shop2.png" alt=""></a>
                    </div>
                    <h3>Pokket Cafe </h3>
                    <p class="product-price"><span>Shop No 7/8 Sancheti apt. Beside Swastik Croporation Vidya Vikas Circule Gangapur Road Nashik, Mahar Beside Swastik Croporatio</span>  </p>
                    <a href="JavaScript:void(0);" class="cart-btn">Continue</a>
                    <i class="fas fa-shopping-cart"></i> 
                </div>
            </div> -->

            <!-- <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="JavaScript:void(0);"><img src="assets/img/shop1.png" alt=""></a>
                    </div>
                    <h3>Pokket Cafe </h3>
                    <p class="product-price"><span>Shop No 7/8 Sancheti apt. Beside Swastik Croporation Vidya Vikas Circule Gangapur Road Nashik, Mahar Beside Swastik Croporatio</span>  </p>
                    <a href="JavaScript:void(0);" class="cart-btn">Continue</a>
                    <i class="fas fa-shopping-cart"></i> 
                </div>
            </div> -->

            <!-- <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="JavaScript:void(0);"><img src="assets/img/shop2.png" alt=""></a>
                    </div>
                    <h3>Pokket Cafe </h3>
                    <p class="product-price"><span>Shop No 7/8 Sancheti apt. Beside Swastik Croporation Vidya Vikas Circule Gangapur Road Nashik, Mahar Beside Swastik Croporatio</span>  </p>
                    <a href="JavaScript:void(0);" class="cart-btn">Continue</a>
                    <i class="fas fa-shopping-cart"></i> 
                </div>
            </div> -->

            <!-- <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="JavaScript:void(0);"><img src="assets/img/shop1.png" alt=""></a>
                    </div>
                    <h3>Pokket Cafe </h3>
                    <p class="product-price"><span>Shop No 7/8 Sancheti apt. Beside Swastik Croporation Vidya Vikas Circule Gangapur Road Nashik, Mahar Beside Swastik Croporatio</span>  </p>
                    <a href="JavaScript:void(0);" class="cart-btn">Continue</a>
                    <i class="fas fa-shopping-cart"></i> 
                </div>
            </div> -->

            <!-- <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="JavaScript:void(0);"><img src="assets/img/shop2.png" alt=""></a>
                    </div>
                    <h3>Pokket Cafe </h3>
                    <p class="product-price"><span>Shop No 7/8 Sancheti apt. Beside Swastik Croporation Vidya Vikas Circule Gangapur Road Nashik, Mahar Beside Swastik Croporatio</span>  </p>
                    <a href="JavaScript:void(0);" class="cart-btn">Continue</a>
                    <i class="fas fa-shopping-cart"></i> 
                </div>
            </div>
             -->
            
           
            <!-- <div class="button_center">
                <a href="JavaScript:void(0);" class="cart-btn"> View More</a>
            </div> -->
        </div>
    </div>
</div>
<!-- end product section -->

